@model IEnumerable<LojaVirtual.Data.Model.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><span class="fa fa-plus"></span> Novo</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Imagem" alt="Imagem do Produto" class="img-fluid" style="max-width: 75px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td class="limit-text">
                    <span title="@item.Descricao">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </span>
                </td>
                <td>
                    @item.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Titulo)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning" title="Detalhes"><span class="fa fa-search"></span></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info" title="Editar"><span class="fa fa-pencil-alt"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Excluir"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
